---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="Music"
	description="Music by Bluebound Ink"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		This page will showcase music related to Bluebound Ink. Add tracks, albums,
		streaming links, or embedded players here.
	</p>
</Layout>
